!!!
%html
  %head
    %title= "EasyChair - The CouchDB Sinatra Template"
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        %h1
          %a{:href => 'http://www.github.com/benwoody/easychair'}= "Find me on GitHub!"
      #footer
        %p#legal= "&copy; #{Time.now.strftime('%Y')}"
